<div class="pure-g"><!-- Terms & Conditions -->

		<div class="pure-u-1">
			<div class="l-box terms">
				<div class="center">
					<h4>This site uses cookies.</h4>
					<p class="small">Only proceed if you are happy with this, otherwise exit this site.</p>
					<p class="red">Content featured on this site is charged at &#163;6.00 per video stream. <strong>This is not a subscription service.</strong></p>
				</div>
				<h4 class="center">General Terms of Service</h4>  
				<p><strong>Content featured on this site is charged at &#163;6.00 per video stream. This is not a subscription service.</strong> After clicking to request content and confirm purchases, users have a 10-minute cooling-off period, during which time purchases may be cancelled by clicking <strong>Cancel Purchase</strong> or <strong>Exit</strong> as prompted on the content confirmation page. Purchase will be charged direct to your mobile phone bill using Payforit SingleClick. By sharing your mobile number you agree for Moonlight Mobile Ltd to send you either an occasional promotion or related text message, notifying you of our latest offers and promotions available to you. Your data will not be passed to third parties. If you wish to be removed from such contact, please sms <strong>STOP</strong> to <strong>83463</strong>. Alternatively you can call or email our helpline below.</p>
	        	
		        	<div class="address">
		            -- Helpline --<br>
					tel: 03330030594<br>
		          	<strong>Email</strong> <a href="mailto:emailcs@payforit-esc.com">cs@payforit-esc.com</a>
				  	</div>
	        
			        <div class="address">
			          This service is provided by:<br>
			          <strong>Moonlight Mobile Ltd</strong><br>
			          1 Bell Street, Maidenhead, SL6 1BU.<br>
			        </div>
                  
				<p class="small">Our policies and procedures are constantly under review in an effort to provide a good level of customer service. From time to time we may update our Terms &amp; Conditions and Privacy Policies to improve the user experience and to comply with legal and regulatory obligations. Therefore, we recommend that you occasionally revisit these terms in order to familiarise yourself with any amendments or changes to service policies.</p>
			</div>
		</div>
		
	</div><!-- /terms -->
	
	<div class="footer">
		<div class="pure-g">
			<div class="pure-u-1">
				<div class="l-box">
					<p class="center">&copy; UME-UK 2015</p>
				</div>
			</div>
		</div>
	</div>


	
<!-- Include jQuery -->
<script src="lib/za_js/jquery.min.js"></script>


<script src="lib/za_js/custom.js"></script>


</body>
</html>