<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.1//EN" "http://www.wapforum.org/DTD/xhtml-mobile11.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>X-Rated</title>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">


    <!--[if lte IE 8]>
        <link rel="stylesheet" href="css/grid-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="{{contenturl}}/lib/zatemplate/css/grid.css">
    <!--<![endif]-->
    	<link rel="stylesheet" href="{{contenturl}}/lib/zatemplate/css/styles.css">			
</head>

<body>

	<div class="header">
		<div class="pure-g">
		
		    <div class="pure-u-1"> 
		        <img src="{{contenturl}}/lib/zatemplate/img/x-rated.jpg" alt="X-Rated" class="pure-img">
		    </div>
	    
		    <div class="pure-u-1"> 		
			    <div class="nav"><!-- navigation -->
						<ul>
							<li><a href="#">Recent</a></li>
							<li><a href="#">Popular</a></li>
							<li><a href="#">Top Rated</a></li>
						</ul>
			    </div><!-- /navigation -->	 
		    </div>
		    
		</div>
			       
	    <div class="toggle-trigger"><img src="{{contenturl}}/lib/zatemplate/img/search.svg" alt="Search Toggle" class="pure-img"></div>
	       
	</div>

	<!-- Search Bar  -->
	<div id="search" class="toggle-content">
		<div class="pure-g">
			<div class="pure-u-1"> 
				<form>
					<div class="form-group">
						<input type="text" name="search" placeholder="Search here..."> 
						<input type="submit" value="Search" class="button">
					</div>
				</form>
			</div>
		</div>
	</div><!-- /Search Bar  -->	