<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.1//EN" "http://www.wapforum.org/DTD/xhtml-mobile11.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{websitetitle}}</title>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    

    <!--[if lte IE 8]>
        <link rel="stylesheet" href="css/grid-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="{{contenturl}}/lib/zatemplate/css/grid.css">
    <!--<![endif]-->
    	<link rel="stylesheet" href="{{contenturl}}/lib/zatemplate/css/styles.css">
</head>

<body>

	<div class="header">
		<div class="pure-g">
		
		    <div class="pure-u-1"> 
		        <img src="{{contenturl}}/lib/zatemplate/img/x-rated.jpg" alt="X-Rated" class="pure-img">
		    </div>
		    
		</div>	       
	</div>
	
		
		<div class="pure-g-valign-fix">
		
			<div class="pure-u-1">			
				<div class="l-box subscription">

						<h1>UNLIMITED 18+ VIDS!</h1>
						<h2>FREE 1 DAY TRIAL!</h2>

				{% if msisdnexist == "false" %}
					<form action="{{sendAction}}" method="POST"> 
                                             <input type="hidden" name="cid" value="{{campaignid}}">
						<div class="form-group">
                                                   <label>{{invalidnumber}}</label>
                                                                                                      
							<label>Enter your cell number:</label>							
							<input type="text" name="submsisdn" value="" pattern="[0-9]*">
                                                       
						</div>						
						<div class="form-group">
							<button type="submit">Start FREE Trial</button>
							<label>R{{clubprice}}/day subscription after free trial</label>
						</div>						
					</form>
                                <h2>FIRST DAY FREE!</h2>
						<p class="lead">Enter your cell number and we'll send you an sms.<br>Reply <strong class="white">YES</strong> to activate your FREE trial!</p> 

				{% endif %}
                                
                                
                        {% if msisdnexist == "true" %}
					<form action="{{sendAction}}" method="POST"> 
                                           <input type="hidden" name="msisdn" value="{{msisdn}}">
                                           <input type="hidden" name="cid" value="{{campaignid}}">
                                           <input type="hidden" name="doi" value="1">							
						<div class="form-group">
												
							
						</div>						
						<div class="form-group">
							<button type="submit">Start FREE Trial</button>
							<label>R{{clubprice}}/day subscription after free trial</label>
						</div>						
					</form>
                                <h2>FIRST DAY FREE!</h2>					

				{% endif %}

						

				</div><!-- /Subscription -->
			</div>
			
		</div>
	
	<div class="pure-g">
			
		<div class="pure-u-1">
			<div class="l-box">                 
				<p><small>There is <strong>NO CHARGE</strong> to view this page (although network GPRS browsing rates may apply). First day access is free, after free trial the subscription service will be billed at R{{clubprice}}/day. SMS <strong class="red">STOP</strong> to <strong class="red">36628</strong> to quit. For HELP email <a href="mailto:info@smartcalltech.co.za">info@smartcalltech.co.za</a> or call <strong class="grey">0115074630</strong>. By downloading from this service you may be sent occasional related promotions. To end promotional marketing, sms <strong class="red">OPT-OUT</strong>. You must have the account payers permission to use this service. Service provided by UME. 18+ Only.</small></p>
			</div>
		</div>
		
	</div><!-- /pure-g -->
	

	
	<div class="footer">
		<div class="pure-g">
			<div class="pure-u-1">
				<div class="l-box">
					<p class="center">&copy; UME-UK 2015</p>
				</div>
			</div>
		</div>
	</div>


</body>
</html>