{% if include_header == "true" %}
{% include 'header' %}
{% endif %}


		  
		  
		   {% for video in videos %}
		  
          <div class="videoContainer" >
            <div class="pfi-title-wrapper">
              <h1 class="bld font-11 pfi-title-yellow"> <span> {{video.gtitle}} </span> </h1>
            </div>
            <div class="video"> <span class="content-price absolute display-none"> </span>
              <div class="hd-overlay"></div>
             <div class="playicon-on-video"></div>
             <img class="thumbnail videoCover" src="{{video.img}}" alt="Video cover">

              <div class="length-box"><span class="font-bold">Length: {{length_2}}</span></div>
              <a class="billable block ui-link" title="2_224675" data-clickable="true" href="videodetail.jsp?unq={{video.props}}" data-reference="141663732548057900520" data-content-id="c_224675" data-serviceid="188" data-content-location="#">
              <div class="clickable-helper"></div>
              </a></div>
            <!-- Video End -->
            <div class="fading-details">
              <!--            <div class="fading"></div>-->
              
              <div class="details">
                <ul class="metrics">
                  <li><span class="bottom-text-label">Video Info </span><i></i></li>
                  <li><span class="bottom-text-label"><i class="view-icon"></i></span><i></i>{{video.viewsNumber}}</li>
                  <li class="green-font-default"><span class="bottom-text-label"><i class="rating-thumb"></i></span><i></i>{{video.ratingNumber}}</li>
                </ul>
                <ul class="tags">
                </ul>
                
              </div>
              <!-- Details End -->
            </div>
          </div>
          <!-- end of videoContainer -->
          {% endfor %}
        <!-- end of videoContent -->
          <div id="categoryThumbsWrapper">
            <div id="categoryThumbsTitleWhite">Top Categories</div>
            <div id="categoryThumbs">
              <div class="row-paid-categories"> 
                  <a class="billable block singleCategory HP_Cat_teen ui-link" title="2_4253" data-clickable="true" href="videos.jsp?cat=9931735688931KDS" data-reference="141663732548071700981" data-content-id="c_4253" data-serviceid="188" data-content-location="#">
                <div class="playBtnCarousel"></div>
                <div class="categoryNameYellow">Anal</div>
                <div class="categoryImage"><img src="{{contenturl}}/lib/images/ukcat/anal.jpg"></div>
                </a> 
                  <a class="billable block singleCategory HP_Cat_Threesome ui-link" title="2_228" data-clickable="true" href="videos.jsp?cat=5924251548041KDS" data-reference="141663732548071700981" data-content-id="c_228" data-serviceid="188" data-content-location="#">
                <div class="playBtnCarousel"></div>
                <div class="categoryNameYellow"> BlowJob</div>
                <div class="categoryImage"><img src="{{contenturl}}/lib/images/ukcat/blowjob.jpg"></div>
                </a> 
                  <a class="billable block singleCategory HP_Cat_Amateur ui-link" title="2_6095" data-clickable="true" href="videos.jsp?cat=2926251548041KDS" data-reference="141663732548071700981" data-content-id="c_6095" data-serviceid="188" data-content-location="#">
                <div class="playBtnCarousel"></div>
                <div class="categoryNameYellow">Brunette</div>
                <div class="categoryImage"><img src="{{contenturl}}/lib/images/ukcat/brunette.jpg"></div>
                </a> 
                             
                    <a class="billable block singleCategory HP_Cat_anal ui-link" title="2_407" data-clickable="true" href="videos.jsp?cat=4107251548041KDS" data-reference="141663732548071700981" data-content-id="c_407" data-serviceid="188" data-content-location="#">
                <div class="playBtnCarousel"></div>
                <div class="categoryNameYellow">Deep Throat</div>
                <div class="categoryImage"> <img src="{{contenturl}}/lib/images/ukcat/deepthroat.jpg"></div>
                </a> 
              <a class="billable block singleCategory HP_Cat_anal ui-link" title="2_407" data-clickable="true" href="videos.jsp?cat=2622735688931KDS" data-reference="141663732548071700981" data-content-id="c_407" data-serviceid="188" data-content-location="#">
                <div class="playBtnCarousel"></div>
                <div class="categoryNameYellow">Ebony</div>
                <div class="categoryImage"> <img src="{{contenturl}}/lib/images/ukcat/ebony.jpg"></div>
                </a>
                    
                     <a class="billable block singleCategory HP_Cat_bigtits ui-link" title="2_735" data-clickable="true" href="videos.jsp?cat=0870735688931KDS" data-reference="141663732548071700981" data-content-id="c_735" data-serviceid="188" data-content-location="#">
                <div class="playBtnCarousel"></div>
                <div class="categoryNameYellow">Teens</div>
                <div class="categoryImage"><img src="{{contenturl}}/lib/images/ukcat/teen.jpg"> </div>
                </a>
                    
<!--                </div>-->
                
              <!-- end .row-paid-categories -->
<!--              <div class="row-paid-categories"> -->
                 
                  <a class="billable block singleCategory HP_Cat_AssLicking ui-link" title="2_3209" data-clickable="true" href="videos.jsp?cat=9941735688931KDS" data-reference="141663732548071700981" data-content-id="c_3209" data-serviceid="188" data-content-location="#">
                <div class="playBtnCarousel"></div>
                <div class="categoryNameYellow"> General</div>
                <div class="categoryImage"><img src="{{contenturl}}/lib/images/ukcat/general.jpg"> </div>
                </a> <a class="billable block singleCategory HP_Cat_BigButt ui-link" title="2_761" data-clickable="true" href="videos.jsp?cat=0982430769931KDS" data-reference="141663732548071700981" data-content-id="c_761" data-serviceid="188" data-content-location="#">
                <div class="playBtnCarousel"></div>
                <div class="categoryNameYellow"> Lesbian</div>
                <div class="categoryImage"><img src="{{contenturl}}/lib/images/ukcat/lesbian.jpg"> </div>
                </a> <a class="billable block singleCategory HP_Cat_BigCock ui-link" title="2_382" data-clickable="true" href="videos.jsp?cat=4241735688931KDS" data-reference="141663732548071700981" data-content-id="c_382" data-serviceid="188" data-content-location="#">
                <div class="playBtnCarousel"></div>
                <div class="categoryNameYellow">More Ebony</div>
                <div class="categoryImage"> <img src="{{contenturl}}/lib/images/ukcat/more-ebony.jpg"> </div>
                </a> <a class="billable block singleCategory HP_Cat_bigtits ui-link" title="2_735" data-clickable="true" href="videos.jsp?cat=8290351548041KDS" data-reference="141663732548071700981" data-content-id="c_735" data-serviceid="188" data-content-location="#">
                <div class="playBtnCarousel"></div>
                <div class="categoryNameYellow">More Teens</div>
                <div class="categoryImage"><img src="{{contenturl}}/lib/images/ukcat/moreteen.jpg"> </div>
                </a> 
				
				
               
              
              </div>
              <!-- end .row-paid-categories --><!-- end .row-paid-categories --><!-- end row-paid-categories -->
            </div>
            <!--    <div><a href="-->
            <!--" id="seeAll" class="pull-right">See all >></a></div>-->
          </div>
 
 {% if number_of_category == 0 %}
{% include 'footer' %}
{% endif %}         
        