<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <!-- Trung commit-->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/dispatcher-servlet.xml</param-value>
    </context-param>
    <context-param>
        <param-name>installDir</param-name>
        <param-value>/var/lib/tomcat7/webapps/ROOT</param-value>
    </context-param>
    <context-param>
        <param-name>contenturl</param-name>
        <param-value>/mnt/content</param-value>
    </context-param>
    <context-param>
        <param-name>propDir</param-name>
        <param-value>/var/lib/tomcat7/webapps/ROOT/WEB-INF/classes/resources</param-value>
    </context-param>
    <context-param>
        <param-name>appPropFile</param-name>
        <param-value>/var/lib/tomcat7/webapps/ROOT/WEB-INF/classes/resources/application.properties</param-value>
    </context-param>
    <context-param>
        <param-name>parsed</param-name>
        <param-value>/var/www/lib/templates/parsed/</param-value>
    </context-param>
    <context-param>
        <param-name>static</param-name>
        <param-value>/var/www/lib/templates/static/</param-value>
    </context-param>
    <context-param>
        <param-name>cloudfronturl</param-name>
        <param-value>http://cf04032015.mmvideos.co.uk</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/no-servlet.xml</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ParevaStartup</servlet-name>
        <servlet-class>ume.pareva.ParevaStartup</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>VideoCategory</servlet-name>
        <servlet-class>ume.pareva.servlet.VideoCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ZAConfirm</servlet-name>
        <servlet-class>ume.pareva.servlet.ZAConfirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GlobalWapHeader</servlet-name>
        <servlet-class>ume.pareva.servlet.GlobalWapHeader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexMain</servlet-name>
        <servlet-class>ume.pareva.servlet.IndexMain</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UKHeader</servlet-name>
        <servlet-class>ume.pareva.uk.UKHeader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GlobalWapHeaderIT</servlet-name>
        <servlet-class>ume.pareva.it.servlets.GlobalWapHeaderIT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexMainIt</servlet-name>
        <servlet-class>ume.pareva.it.servlets.IndexMainIt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ITConfirm</servlet-name>
        <servlet-class>ume.pareva.it.servlets.ITConfirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UKService</servlet-name>
        <servlet-class>ume.pareva.uk.UKService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>ume.pareva.servlet.Test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BillingNotification</servlet-name>
        <servlet-class>ume.pareva.uk.BillingNotification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TerminateBulkIT</servlet-name>
        <servlet-class>ume.pareva.it.servlets.TerminateBulkIT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GlobalWapHeaderES</servlet-name>
        <servlet-class>ume.pareva.es.servlets.GlobalWapHeaderES</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexMainEs</servlet-name>
        <servlet-class>ume.pareva.es.servlets.IndexMainEs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ESConfirm</servlet-name>
        <servlet-class>ume.pareva.es.servlets.ESConfirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThirdPartyHeader</servlet-name>
        <servlet-class>ume.pareva.thirdparty.ThirdPartyHeader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThirdPartyConfirm</servlet-name>
        <servlet-class>ume.pareva.thirdparty.ThirdPartyConfirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThirdPartyIndexMain</servlet-name>
        <servlet-class>ume.pareva.thirdparty.ThirdPartyIndexMain</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessAU</servlet-name>
        <servlet-class>ume.pareva.au.ProcessAU</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AUMerchant</servlet-name>
        <servlet-class>ume.pareva.au.AUMerchant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AUIndexMain</servlet-name>
        <servlet-class>ume.pareva.au.IndexMain</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IEMO</servlet-name>
        <servlet-class>ume.pareva.ire.IEMO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IEDr</servlet-name>
        <servlet-class>ume.pareva.ire.IEDr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Videos</servlet-name>
        <servlet-class>ume.pareva.in.servlet.Videos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Notify</servlet-name>
        <servlet-class>ume.pareva.in.servlet.Notify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompetitionSuccess</servlet-name>
        <servlet-class>ume.pareva.uk.CompetitionSuccess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ZAIndex</servlet-name>
        <servlet-class>ume.pareva.servlet.ZAIndex</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>ParevaRestfulApp</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>ume.pareva.restservices</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>UMEStopService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>UMEWebService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>FFMpegEncoderService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>VideoListService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>FRIndex</display-name>
    	<servlet-name>FRIndex</servlet-name>
    	<servlet-class>ume.pareva.fr.servlet.FRIndex</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>FRSubscribe</display-name>
    	<servlet-name>FRSubscribe</servlet-name>
    	<servlet-class>ume.pareva.fr.servlet.FRSubscribe</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>FRCallback</display-name>
    	<servlet-name>FRCallback</servlet-name>
    	<servlet-class>ume.pareva.fr.servlet.FRCallback</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>FRContact</display-name>
    	<servlet-name>FRContact</servlet-name>
    	<servlet-class>ume.pareva.fr.servlet.FRContact</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>FRVideo</display-name>
    	<servlet-name>FRVideo</servlet-name>
    	<servlet-class>ume.pareva.fr.servlet.FRVideo</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>CSVUpload</display-name>
    	<servlet-name>CSVUpload</servlet-name>
    	<servlet-class>ume.pareva.servlet.CSVUpload</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>IPN</display-name>
    	<servlet-name>IPN</servlet-name>
    	<servlet-class>ume.pareva.fr.servlet.IPN</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>FRTerms</display-name>
    	<servlet-name>FRTerms</servlet-name>
    	<servlet-class>ume.pareva.fr.servlet.FRTerms</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>FRAccount</display-name>
    	<servlet-name>FRAccount</servlet-name>
    	<servlet-class>ume.pareva.fr.servlet.FRAccount</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>KESubscribe</display-name>
    	<servlet-name>KESubscribe</servlet-name>
    	<servlet-class>ume.pareva.ke.servlet.KESubscribe</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>KEConfirm</display-name>
    	<servlet-name>KEConfirm</servlet-name>
    	<servlet-class>ume.pareva.ke.servlet.KEConfirm</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>KEVideo</display-name>
    	<servlet-name>KEVideo</servlet-name>
    	<servlet-class>ume.pareva.ke.servlet.KEVideo</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>KESmsFailure</display-name>
    	<servlet-name>KESmsFailure</servlet-name>
    	<servlet-class>ume.pareva.ke.servlet.KESmsFailure</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>KESmsSuccess</display-name>
    	<servlet-name>KESmsSuccess</servlet-name>
    	<servlet-class>ume.pareva.ke.servlet.KESmsSuccess</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>KEVideoDetail</display-name>
    	<servlet-name>KEVideoDetail</servlet-name>
    	<servlet-class>ume.pareva.ke.servlet.KEVideoDetail</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>PFI</display-name>
    	<servlet-name>PFI</servlet-name>
    	<servlet-class>ume.pareva.uk.PFI</servlet-class>
    </servlet>
	<servlet>
    	<description>
    	</description>
    	<display-name>PTIndex</display-name>
    	<servlet-name>PTIndex</servlet-name>
    	<servlet-class>ume.pareva.pt.servlet.PTIndex</servlet-class>
    </servlet>
	<servlet>
		<description>
		</description>
		<display-name>PTSubscribe</display-name>
		<servlet-name>PTSubscribe</servlet-name>
		<servlet-class>ume.pareva.pt.servlet.PTSubscribe</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PTWelcome</display-name>
		<servlet-name>PTWelcome</servlet-name>
		<servlet-class>ume.pareva.pt.servlet.PTWelcome</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PTCancelSubscription</display-name>
		<servlet-name>PTCancelSubscription</servlet-name>
		<servlet-class>ume.pareva.pt.servlet.PTCancelSubscription</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PTVideoDetail</display-name>
		<servlet-name>PTVideoDetail</servlet-name>
		<servlet-class>ume.pareva.pt.servlet.PTVideoDetail</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PTVideoByCategory</display-name>
		<servlet-name>PTVideoByCategory</servlet-name>
		<servlet-class>ume.pareva.pt.servlet.PTVideoByCategory</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PTNotify</display-name>
		<servlet-name>PTNotify</servlet-name>
		<servlet-class>ume.pareva.pt.servlet.PTNotify</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PTConfirmCancelSubscription</display-name>
		<servlet-name>PTConfirmCancelSubscription</servlet-name>
		<servlet-class>ume.pareva.pt.servlet.PTConfirmCancelSubscription</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PTTerms</display-name>
		<servlet-name>PTTerms</servlet-name>
		<servlet-class>ume.pareva.pt.servlet.PTTerms</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>InterstitialIndex</display-name>
		<servlet-name>InterstitialIndex</servlet-name>
		<servlet-class>ume.pareva.interstitial.InterstitialIndex</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>MsisdnCheck</display-name>
		<servlet-name>MsisdnCheck</servlet-name>
		<servlet-class>ume.pareva.servlet.MsisdnCheck</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>InterstitialVideoDetail</display-name>
		<servlet-name>InterstitialVideoDetail</servlet-name>
		<servlet-class>ume.pareva.interstitial.InterstitialVideoDetail</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FRCancelSubscription</display-name>
		<servlet-name>FRCancelSubscription</servlet-name>
		<servlet-class>ume.pareva.fr.servlet.FRCancelSubscription</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>QuestionAdminCRUD</display-name>
		<servlet-name>QuestionAdminCRUD</servlet-name>
		<servlet-class>ume.pareva.admin.quiz.questionadmin.QuestionAdminCRUD</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>QuestionUploadServlet</display-name>
		<servlet-name>QuestionUploadServlet</servlet-name>
		<servlet-class>ume.pareva.admin.quiz.QuestionUploadServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FRSendPassword</display-name>
		<servlet-name>FRSendPassword</servlet-name>
		<servlet-class>ume.pareva.fr.servlet.FRSendPassword</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FRBouncedEmailNotification</display-name>
		<servlet-name>FRBouncedEmailNotification</servlet-name>
		<servlet-class>ume.pareva.fr.servlet.FRBouncedEmailNotification</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteCheck</display-name>
		<servlet-name>DeleteCheck</servlet-name>
		<servlet-class>ume.pareva.admin.wapsiteadmin.DeleteCheck</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FREmailExists</display-name>
		<servlet-name>FREmailExists</servlet-name>
		<servlet-class>ume.pareva.fr.servlet.FREmailExists</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CheckIfUsernameExist</display-name>
		<servlet-name>CheckIfUsernameExist</servlet-name>
		<servlet-class>ume.pareva.fr.servlet.CheckIfUsernameExist</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CompetitionServlet</display-name>
		<servlet-name>CompetitionServlet</servlet-name>
		<servlet-class>ume.pareva.admin.quiz.CompetitionServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CreateQuestion</display-name>
		<servlet-name>CreateQuestion</servlet-name>
		<servlet-class>ume.pareva.admin.quiz.CreateQuestion</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateClub</display-name>
		<servlet-name>UpdateClub</servlet-name>
		<servlet-class>ume.pareva.admin.quiz.UpdateClub</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DrawWinner</display-name>
		<servlet-name>DrawWinner</servlet-name>
		<servlet-class>ume.pareva.admin.quiz.DrawWinner</servlet-class>
	</servlet>
    <servlet-mapping>
        <servlet-name>ParevaRestfulApp</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Videos</servlet-name>
        <url-pattern>/IN/Videos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Notify</servlet-name>
        <url-pattern>/IN/Notify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VideoCategory</servlet-name>
        <url-pattern>/VideoCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ZAConfirm</servlet-name>
        <url-pattern>/ZAConfirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GlobalWapHeader</servlet-name>
        <url-pattern>/GlobalWapHeader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexMain</servlet-name>
        <url-pattern>/ZA/IndexMain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UKHeader</servlet-name>
        <url-pattern>/UKHeader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GlobalWapHeaderIT</servlet-name>
        <url-pattern>/IT/GlobalWapHeaderIT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexMainIt</servlet-name>
        <url-pattern>/IT/IndexMainIt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ITConfirm</servlet-name>
        <url-pattern>/IT/ITConfirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UKService</servlet-name>
        <url-pattern>/UKService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BillingNotification</servlet-name>
        <url-pattern>/BillingNotification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TerminateBulkIT</servlet-name>
        <url-pattern>/IT/TerminateBulkIT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GlobalWapHeaderES</servlet-name>
        <url-pattern>/ES/GlobalWapHeaderES</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexMainEs</servlet-name>
        <url-pattern>/ES/IndexMainEs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ESConfirm</servlet-name>
        <url-pattern>/ES/ESConfirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThirdPartyHeader</servlet-name>
        <url-pattern>/ThirdPartyHeader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThirdPartyConfirm</servlet-name>
        <url-pattern>/ThirdPartyConfirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThirdPartyIndexMain</servlet-name>
        <url-pattern>/ThirdPartyIndexMain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessAU</servlet-name>
        <url-pattern>/ProcessAU</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AUMerchant</servlet-name>
        <url-pattern>/AUMerchant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AUIndexMain</servlet-name>
        <url-pattern>/AU/IndexMain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IEMO</servlet-name>
        <url-pattern>/IEMO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IEDr</servlet-name>
        <url-pattern>/IEDr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompetitionSuccess</servlet-name>
        <url-pattern>/CompetitionSuccess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ZAIndex</servlet-name>
        <url-pattern>/ZAIndex</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UMEStopService</servlet-name>
        <url-pattern>/UMEStopService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UMEWebService</servlet-name>
        <url-pattern>/UMEWebService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FFMpegEncoderService</servlet-name>
        <url-pattern>/FFMpegEncoderService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VideoListService</servlet-name>
        <url-pattern>/VideoListService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>FRIndex</servlet-name>
    	<url-pattern>/FRIndex</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>FRSubscribe</servlet-name>
    	<url-pattern>/FRSubscribe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>FRCallback</servlet-name>
    	<url-pattern>/FRCallback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>FRContact</servlet-name>
    	<url-pattern>/FRContact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>FRVideo</servlet-name>
    	<url-pattern>/FRVideo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>CSVUpload</servlet-name>
    	<url-pattern>/CSVUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>IPN</servlet-name>
    	<url-pattern>/IPN</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>FRTerms</servlet-name>
    	<url-pattern>/FRTerms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>FRAccount</servlet-name>
    	<url-pattern>/FRAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>KESubscribe</servlet-name>
    	<url-pattern>/KESubscribe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>KEConfirm</servlet-name>
    	<url-pattern>/KEConfirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>KEVideo</servlet-name>
    	<url-pattern>/KEVideo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>KESmsFailure</servlet-name>
    	<url-pattern>/KESmsFailure</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>KESmsSuccess</servlet-name>
    	<url-pattern>/KESmsSuccess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>KEVideoDetail</servlet-name>
    	<url-pattern>/KEVideoDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>PFI</servlet-name>
    	<url-pattern>/PFI</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
    	<servlet-name>PTIndex</servlet-name>
    	<url-pattern>/PTIndex</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
		<servlet-name>PTSubscribe</servlet-name>
		<url-pattern>/PTSubscribe</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PTWelcome</servlet-name>
		<url-pattern>/PTWelcome</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PTCancelSubscription</servlet-name>
		<url-pattern>/PTCancelSubscription</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PTVideoDetail</servlet-name>
		<url-pattern>/PTVideoDetail</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PTVideoByCategory</servlet-name>
		<url-pattern>/PTVideoByCategory</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PTNotify</servlet-name>
		<url-pattern>/PTNotify</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PTConfirmCancelSubscription</servlet-name>
		<url-pattern>/PTConfirmCancelSubscription</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PTTerms</servlet-name>
		<url-pattern>/PTTerms</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InterstitialIndex</servlet-name>
		<url-pattern>/InterstitialIndex</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MsisdnCheck</servlet-name>
		<url-pattern>/MsisdnCheck</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InterstitialVideoDetail</servlet-name>
		<url-pattern>/InterstitialVideoDetail</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FRCancelSubscription</servlet-name>
		<url-pattern>/FRCancelSubscription</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>QuestionAdminCRUD</servlet-name>
		<url-pattern>/QuestionAdminCRUD</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>QuestionUploadServlet</servlet-name>
		<url-pattern>/QuestionUploadServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FRSendPassword</servlet-name>
		<url-pattern>/FRSendPassword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FRBouncedEmailNotification</servlet-name>
		<url-pattern>/FRBouncedEmailNotification</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteCheck</servlet-name>
		<url-pattern>/DeleteCheck</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FREmailExists</servlet-name>
		<url-pattern>/FREmailExists</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckIfUsernameExist</servlet-name>
		<url-pattern>/CheckIfUsernameExist</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CompetitionServlet</servlet-name>
		<url-pattern>/CompetitionServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateQuestion</servlet-name>
		<url-pattern>/CreateQuestion</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateClub</servlet-name>
		<url-pattern>/UpdateClub</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DrawWinner</servlet-name>
		<url-pattern>/DrawWinner</url-pattern>
	</servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>redirect.jsp</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>umefilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>umefilter</filter-name>
        <url-pattern>/ume/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
</web-app>
